<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/teamsphere"><i class="fas fa-globe me-2"></i>TeamSphere</a>
        <div class="d-flex">
            <a href="/teamsphere" class="nav-btn"><i class="fas fa-home"></i> Главная</a>
            <a href="/crm" class="nav-btn"><i class="fas fa-users"></i> CRM</a>
            <a href="/projects" class="nav-btn"><i class="fas fa-tasks"></i> Проекты</a>
            <a href="/team/team" class="nav-btn"><i class="fas fa-user-friends"></i> Команда</a>
            <a href="/tasks" class="nav-btn"><i class="fas fa-check-square"></i> Задачи</a>
            
        </div>
    </div>
</nav>


